<p id="notice"><%= notice %></p>

<p>
  <b>Comentarios:</b>
  <%= @historial_odt.Comentarios %>
</p>


<%= link_to 'Edit', edit_historial_odt_path(@historial_odt) %> |
<%= link_to 'Back', historial_odts_path %>
