 
<% SimpleForm.browser_validations = false %>
<%=simple_form_for @identificacion do |f| %>
   <p><%= f.input :TipoIdentificacion %></p>
   <p> <%= f.association :personerium, :collection => Personerium.all, :label_method => :Nombre, :label => "Seleccione Personeria" %>
   <%= f.button :submit %>
<% end %>
                   
