<h1>Editing parametros_generale</h1>

<%= render 'form' %>
<%if can? :read, ParametrosGenerale %>
  <%= link_to 'Show', @parametros_generale %><%end%> |
<%= link_to 'Back', parametros_generales_path %>
